@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Playfair+Display:wght@700&family=Poppins:wght@600&family=Raleway&family=Roboto:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Inter:wght@500;700&family=Playfair+Display:wght@700&family=Poppins:wght@600&family=Raleway&family=Roboto:wght@300;700&display=swap');

html,
body {
    height: 100%;
    width: 100;
    margin: 0;
    /* добавить цвет body */
}

.wrapper {
    display: grid;
    width: 100vw;
    height: 100vh;
    max-height: 1960px;
    min-width: 1440px;
    /* или все-таки max-width*/
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 70px 1fr 300px;
    margin: auto;
}

/* HEADER ============================================= */
.header {
    grid-area: header;
    min-height: 70px;
    background: rgb(235, 197, 148);
    /*заменить цвет согласно макета*/
}

.header .menu-wrapper {
    height: 100%;
    min-height: 70px;
    width: 100%;
    max-width: 1160px;
    background: dimgray;
    /*убрать после создания макета*/
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    /* height: 62px; */
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    line-height: 89%;
    font-weight: 600;
    color: #FFFFFF;
}

.header ul.menu {
    max-height: 32px;
    width: 400px;
    min-width: none;
    background: rgb(128, 119, 98);
    /*убрать после создания макета*/
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0;
}

.header ul.menu li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.header ul.menu li a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    line-height: 77%;
    font-weight: 500;
    position: relative;
}

.header ul.menu li a:hover {}

.header ul.menu li a:hover::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
    height: 2px;
    background-color: rgba(92, 98, 236, 1);
    margin-top: 5px;
    /* text-decoration: underline; */
}

/* MAIN ======================================================= */
.main {
    grid-area: main;
    background: cadetblue;
}

.main .aboutMe {
    width: 100%;
    max-width: 1160px;
    height: 740px;
    display: grid;
    grid-template-columns: 545px 1fr;
    grid-template-rows: 70px 1fr;
    gap: 70px;
    margin: 0 auto;
    padding: 64px 0 128px 0;
}

.main .aboutMe .myPhoto {
    grid-area: 1/1/2/2;
    max-width: 450px;
}

.main .aboutMe h1 {
    grid-area: 1/2/2/3;
    color: #FFFFFF;
}

.main .aboutMe .aboutMe__text {
    grid-area: 2/2/3/3;
    max-height: 450px;
    max-width: 570px;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
    letter-spacing: 0.15px;
    color: #FFFFFF;
}

.main .aboutMe a.aboutMe__text {
    text-decoration: none;
    color: #5C62EC;
}

.main .skills {
    background: darkkhaki;
    /*убрать цвет после верстки*/
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main .skills .block__title,
.main .skills .skill__wrapper .skill__box .skill__name {
    font-family: 'DM Sans', sans-serif;
    font-size: 34px;
    line-height: 40px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0.25px;
    color: #FFFFFF;
}

.main .skills .skill__wrapper .skill__box .skill__name {
    margin-top: 10px;
}

.main .skills .skill__wrapper {
    width: 100%;
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 24px;
}

.main .skills .skill__wrapper .skill__box {
    background: dimgrey;
    /*удалить после верстки блока*/
    padding: 24px;
}

.main .skills .skill__wrapper .skill__box .icon {
    margin-left: 12px;
}

.main .skills .skill__wrapper .skill__box p {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.44px;
    color: #FFFFFF;
}