@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Playfair+Display:wght@700&family=Poppins:wght@600&family=Raleway&family=Roboto:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Inter:wght@500;700&family=Playfair+Display:wght@700&family=Poppins:wght@600&family=Raleway&family=Roboto:wght@300;700&display=swap');

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    background: rgba(23, 23, 24, 1);
}

.wrapper {
    min-height: 3500px;
    max-width: 100%;
    padding: 0 40px;
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 70px 1fr 300px;
    background:rgba(92, 98, 236, 1);
}

@media screen and (max-width: 767px) {
    .wrapper {
        min-height: 3439px;
    }
}

/* HEADER */
.header {
    grid-area: header;
    height: 100%;
    width: 100%;
    border-bottom: 1px solid #26292D;
}

.header .menu-wrapper {
    max-width: 1160px;
    min-height: 70px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header .menu-wrapper .logo,
.footer .footer__content .logo {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    line-height: 89%;
    font-weight: 600;
    color: #FFFFFF;
}

.header .menu {
    max-height: 32px;
    min-width: 27.8%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0;
    gap: 23px;
}

.header .menu > a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    line-height: 77%;
    font-weight: 500;
    position: relative;
}

.header .menu > a:hover::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
    height: 2px;
    background-color: rgba(92, 98, 236, 1);
    margin-top: 5px;
    /* text-decoration: underline; */
}

.header .dropdown {
    display: none;
}

@media screen and (max-width: 650px) {
    .header .menu {
        display: none;
    }

    .header .dropdown {
        display: block;
        position: relative;
    }

    .dropdown .dropdown-content {
        display: none;
        position: absolute;
        width: 100vw;
        height: 100vh;
        right: -40px;
        top: -20px;
        background-color: #2f41a3;
        z-index: 100;
    }

    .dropdown .dropdown-content a {
        text-decoration: none;
        display: block;
    }

    .dropdown:hover .dropdown-content {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        font-size: 3em;
    }

    .dropdown-content a {
        color: rgb(180 192 255);
    }

    .dropdown-content a:hover {
        color: rgb(106, 111, 238);
        font-weight: bold;
        text-decoration: underline;
    }
}

/* end HEADER */

/* MAIN ======================================================= */
.main {
    grid-area: main;
    height: 100%;
    width: 100%;
}

.main .aboutMe {
    width: 100%;
    max-width: 1160px;
    max-height: 740px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 70px;
    padding: 64px 0 128px 0;
    margin: 0 auto;
}

.aboutMe .myPhoto-wrp {
    max-width: 100%;
}

.aboutMe .myPhoto-wrp .myPhoto {
    width: 100%;
    max-width: 450px;
}

.aboutMe h1 {
    color: #FFFFFF;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 71px;
    /* identical to box height, or 118% */
    letter-spacing: -0.5px;
}

.aboutMe .aboutMe__text {
    /* max-height: 400px; */
    max-width: 570px;
    text-align: justify;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
    letter-spacing: 0.15px;
    color: #FFFFFF;
}

.aboutMe a.aboutMe__text {
    text-decoration: none;
    color: #5C62EC;
}

.skills {
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 0px 165px 128px; */
    gap: 40px;
}

.skills .block__title,
.skills .skill__wrapper .skill__box .skill__name {
    font-family: 'DM Sans', sans-serif;
    font-size: 34px;
    line-height: 40px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0.25px;
    color: #FFFFFF;
}

.skills .skill__wrapper .skill__box .skill__name {
    margin-top: 10px;
}

.skills .skill__wrapper {
    width: 100%;
    /* max-width: 1080px; */
    margin-top: 60px;
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    /* margin-bottom: 128px; */
}

.skills .skill__wrapper .skill__box {
    width: 28%;
    max-width: 345px;
    padding: 24px;
    background: #1C1E22;
    border-radius: 8px;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.44px;
    color: #FFFFFF;
}

@media screen and (max-width: 1020px) {
    .skills .skill__wrapper {
        width: 100%;
        margin-top: 60px;
        margin-bottom: 128px;
        gap: 26px;
    }
}

.skills .skill__wrapper .skill__box .icon {
    margin-left: 12px;
}

.skills .skill__wrapper .skill__box p {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.44px;
    color: #FFFFFF;
}

@media screen and (min-width: 800px) and (max-width: 1100px) {
    .myPhoto-wrp {
        min-width: 300px;
    }

    .aboutMe h1 {
        font-size: 3.75vw;
        line-height: 4.4vw;
        /* identical to box height, or 118% */
    }

    .aboutMe .aboutMe__text {
        font-size: 1em;
        line-height: 1.75em;
        font-weight: 500;
        letter-spacing: 0.15px;
        color: #FFFFFF;
    }

    .skills {
        gap: 25px;
    }

    .skills .block__title {
        margin: 10px 0 0 0;
        font-size: 1.7em;
        font-size: 1.8em;
        line-height: 2em;
    }

    .skills .skill__wrapper .skill__box {
        width: 40%;
        max-width: 345px;
    }

    .skills .skill__wrapper .skill__box .skill__name {
        font-size: 1.7em;
        line-height: 2em;
    }
}

@media screen and (min-width: 500px) and (max-width: 799px) {
    .wrapper {
        min-height: 3439px;
    }

    .main {
        display: flex;
        flex-direction: column;
    }

    .main .aboutMe {
        display: flex;
        flex-direction: column;
        margin: 0;
        gap: 50px;
    }

    .aboutMe h1 {
        text-align: center;
        margin: 10px 0 30px 0;
    } 

    .aboutMe .aboutMe__text,
    .skills .skill__wrapper .skill__box p {
        font-size: 1.2em;
        line-height: 1.75em;
        font-weight: 500;
    }

    .skills {
        margin: 600px 0 0 0;
        gap: 30px;
    }

    .skills .block__title {
        margin: 70px 0 0 0;
        font-size: 2em;
        font-size: 1.8em;
        line-height: 2em;
        }

    .skills .skill__wrapper .skill__box {
        width: 100%;
        max-width: 430px;
    }

    .skills .skill__wrapper .skill__box .skill__name {
        font-size: 1.75em;
        line-height: 2.2em;
        font-weight: 300;
    }
}

@media screen and (max-width: 499px) {
    .wrapper {
        padding: 0 30px;
        min-height: 3600px;
    }

    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main .aboutMe {
        max-width: 350px;
        /* max-height: 1326px; */
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 32px 0 64px 0;
        gap: 15px;
    }

    .aboutMe h1 {
        text-align: center;
        font-size: 2.1em;
        line-height: 1.4em;
        /* identical to box height, or 118% */
    }

    .aboutMe .aboutMe__text, 
    .skills .skill__wrapper .skill__box p {
        max-height: 720px;
        max-width: 360px;
        font-size: 1em;
        line-height: 1.5em;
    }

    .skills {
        /*поработать с этим параметром*/
        /* max-width: 350px; */
        /*поработать с этим параметром*/
        margin: 400px 0 0 0;
        max-height: 1484px;
        gap:0;
    }

    .skills .block__title {
        margin: 10px 0 0 0;
        font-size: 1.7em;
    }

    .skills .skill__wrapper {
        width: 100%;
        max-width: 362px;
        padding: 0px 16px 64px;
        gap: 32px;
    }

    .skills .skill__wrapper .skill__box {
        width: 100%;
        max-width: 330px;
    }

    .skills .skill__wrapper .skill__box .skill__name {
        font-size: 1.5em;
        line-height: 1.3em;
        font-weight: normal;
    }
}

/* FOOTER ===================================================== */
.footer {
    grid-area: footer;
    border-top: 1px solid #A0A0A1;
    height: auto;
    display: flex;
}

.footer__wrapper {
    max-width: 1160px;
    width: 100%;
    min-height: 204px;
    height: auto;
    margin: 64px auto 32px auto;
}

.footer__content {
    height: 100%;
    max-height: 110px;
    max-width: 840px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.footer__wrapper .footer__content .footer__menu {
    max-width: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
}

.social_icon .footer__wrapper .footer__content .footer__menu .menu__item_blue,
.footer__wrapper .footer__content .footer__menu .menu__item_white {
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.15px;
}

.footer__wrapper .footer__content .footer__menu .menu__item_blue {
    color: rgba(133, 191, 209, 1);
}

.footer__wrapper .footer__content .footer__menu .menu__item_white {
    color: rgba(255, 255, 255, 1);
}

.footer__wrapper .footer__content .footer__menu .icons__wrapper {
    display: flex;
    flex-direction: row;
    margin-top: 24px;
    justify-content: space-between;
    padding-bottom: 30px;
}

.footer__wrapper .footer__content .footer__menu .icons__wrapper .social__icon {
    display: block;
}

.footer__wrapper .copyright {
    margin-top: 64px;
}

.footer__wrapper #line {
    color: #26292D;
}

.footer__wrapper .copyright__text {
    display: block;
    color: rgba(255, 255, 255, 1);
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    text-align: left;
}